/the_swello_project/*.suo
/the_swello_project/the_swellow_web_client/bin/*
/the_swello_project/the_swellow_web_client/obj/*
/the_swello_project/the_swellow_web_client/*.user
/the_swello_project/the_swellow_web_client/*.suo